@import "./colors.scss";
@import "./breakpoints.scss";

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  @include media(">=desktop") {
    padding: 0 100px;
  }

  @include media("<=tablet") {
    padding: 0 30px;
  }

  @include media("<=largePhone") {
    padding: 0 15px;
  }

  .title {
    font-size: 22px;
    font-family: "JosefinSans";
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $black;

    @include media(">=desktop") {
      font-size: 22px;
    }

    @include media("<=tablet") {
      font-size: 20px;
    }

    @include media("<=largePhone") {
      font-size: 18px;
    }
  }

  .burger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 8px;

    .sliceTop {
      width: 85%;
      height: 5px;
      background-color: $black;
      border-radius: 2px;
      margin-bottom: 5px;
    }

    .sliceBottom {
      width: 85%;
      height: 5px;
      background-color: $black;
      border-radius: 2px;
    }
  }
}
