@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  visibility: hidden;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

@font-face {
  font-family: "PTSans-Regular";
  src: url("../fonts/PTSans-Regular.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans.ttf");
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  margin-top: 80px;
}
